html, body {
	width:			100%;
	height:			100%;
	padding:		0px;
	margin:			0px;
}

#player {
	position:		absolute;
	left:			50%;
	top:			50%;

	width:			64px;
	height:			64px;
	margin-left:	-32px;
	margin-top:		-32px;

	z-index:		100;
}

.frame0  #player {	background-image: url('../images/turtle0071.png'); }
.frame1  #player {	background-image: url('../images/turtle0072.png'); }
.frame2  #player {	background-image: url('../images/turtle0073.png'); }
.frame3  #player {	background-image: url('../images/turtle0074.png'); }
.frame4  #player {	background-image: url('../images/turtle0075.png'); }
.frame5  #player {	background-image: url('../images/turtle0076.png'); }
.frame6  #player {	background-image: url('../images/turtle0077.png'); }
.frame7  #player {	background-image: url('../images/turtle0078.png'); }
.frame8  #player {	background-image: url('../images/turtle0079.png'); }
.frame9  #player {	background-image: url('../images/turtle0080.png'); }
.frame10 #player {	background-image: url('../images/turtle0081.png'); }
.frame11 #player {	background-image: url('../images/turtle0082.png'); }
.frame12 #player {	background-image: url('../images/turtle0083.png'); }
.frame13 #player {	background-image: url('../images/turtle0084.png'); }
.frame14 #player {	background-image: url('../images/turtle0085.png'); }
.frame15 #player {	background-image: url('../images/turtle0086.png'); }
.frame16 #player {	background-image: url('../images/turtle0087.png'); }
.frame17 #player {	background-image: url('../images/turtle0088.png'); }
.frame18 #player {	background-image: url('../images/turtle0089.png'); }
.frame19 #player {	background-image: url('../images/turtle0090.png'); }

#level {
	position:		absolute;
	z-index:		99;
}

#level div {
	width:			64px;
	height:			64px;
}

