html, body {
	width:			100%;
	height:			100%;
	padding:		0px;
	margin:			0px;
}

#chart {
	z-index:		1;
}

#labels {
	z-index:		2;
}

#chart, #labels {
	position:		absolute;
	left:			0px;
	top:			0px;

	height:			100%;
	width:			100%;
}

