<div style="
	width:			230px;
	height:			82px;
	margin-top:		20px;

	position:		relative;
	left:			50%;
	margin-left:	-115px;
">
	<canvas id="led" width="152" height="82"></canvas>
</div>

<div x-mojo-element="Button" id="enterweight"></div>
<div x-mojo-element="Button" id="viewchart"></div>

<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Options</span></div>
		<div class="palm-list">

			<div class="palm-row first last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="height"	x-mojo-element="ListSelector"></div>
				</div>
			</div>

			<div class="palm-row last" style="display: none">
				<div class="palm-row-wrapper">
					<div id="units"		x-mojo-element="ListSelector"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Target Weight</span></div>
	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div x-mojo-element="TextField" name="textField" id="target"></div>
				</div>
			</div>
		</div>
	</div>
</div>

