<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Weight</span></div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div style="
					width:			230px;
					height:			102px;
					margin-top:		20px;

					position:		relative;
					left:			50%;
					margin-left:	-115px;
				">
					<canvas id="led" width="152" height="82"></canvas>
				</div>
			</div>
		</div>

		<div class="palm-row last">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div class="title">
					<div x-mojo-element="Button" id="newweight"></div>
					<div x-mojo-element="Button" id="history"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- TODO: Display more info... -->

