<!--
	TODO: Show a big LED style number (like a digital scale or something) with
	the user's last entered weight (or zeros if this is the first launch).

	TODO: Show a "Enter Weight" button.  Should the button show a dropdown?  Or
	a number pad???  The dropdown would be nice for daily updates but not for
	the first launch....  2 drop downs?
-->

<div style="width: 100%; height: 200px;">
	<canvas id="led" width="280" height="200"></canvas>
</div>

<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Options</span></div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div id="height"	x-mojo-element="ListSelector"></div>
			</div>
		</div>

		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div id="units"		x-mojo-element="ListSelector"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title"><span class="translate">History</span></div>
	<div class="palm-list">

		<div class="palm-row first last">
			<div class="palm-row-wrapper" id="viewchart">
<!-- TODO: Change this to a real button... -->
				<div class="translate title">View history chart</div>
			</div>
		</div>
	</div>
</div>

