<div class='palm-row'>
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div x-mojo-element="TextField" name="textField" id="weight"></div>
		</div>
	</div>
</div>

<div class="palm-row" id="start_date_row">
	<div class="palm-row-wrapper">
		<div class="title">
			<div id="date" x-mojo-element="DatePicker"></div>
		</div>
	</div>
</div>

<div class="palm-row">
	<div class="palm-row-wrapper">
		<div class="title">
			<div id="time" x-mojo-element="TimePicker"></div>
		</div>
	</div>
</div>

<div class='palm-row'>
	<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div x-mojo-element="TextField" name="textField" id="comment"></div>
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="save"		class="affirmative"	></div>
<div x-mojo-element="Button" id="cancel"	class="dismiss"		></div>
<div x-mojo-element="Button" id="delete"	class="dismiss"		></div>
