<div class="palm-dialog-content">
	<div class="dialog-title translate">Login</div>

	<div class="dialog-message" id="message"></div>

	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label translate">Username</div>
			<div x-mojo-element="TextField" id="user"></div>
		</div>
	</div>

	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
			<div class="label translate">Password</div>
			<div x-mojo-element="PasswordField" id="pass"></div>
		</div>
	</div>
</div>

<div id="login"		x-mojo-element="Button"></div>
<div id="close"		x-mojo-element="Button"></div>

<div id="skinnyr"	x-mojo-element="Button"></div>

