<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon palm-account-icon add"></div>
		<div class="title" x-mojo-loc="">Login</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc="email-address">Email Address</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div x-mojo-element="TextField" id="user"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc="password">Password</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div x-mojo-element="PasswordField" id="pass"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="login"		x-mojo-element="Button"></div>
<div id="cancel"	x-mojo-element="Button"></div>

