<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Weight</span></div>
	<div class="palm-list">

		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div x-mojo-element="TextField" name="textField" id="weight"></div>
				</div>
			</div>
		</div>

		<div class="palm-row last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">

					<div id="minus1"		class="capsule" x-mojo-tap-highlight="momentary">
						<div class="capsule-wrapper">
							<div>-1.0</div>
						</div>
					</div>

					<div id="minuspoint1"	class="capsule" x-mojo-tap-highlight="momentary">
						<div class="capsule-wrapper">
							<div>-0.1</div>
						</div>
					</div>

					<div id="pluspoint1"	class="capsule" x-mojo-tap-highlight="momentary">
						<div class="capsule-wrapper">
							<div>+0.1</div>
						</div>
					</div>

					<div id="plus1"			class="capsule" x-mojo-tap-highlight="momentary">
						<div class="capsule-wrapper">
							<div>+1.0</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>


<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Date</span></div>
	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div id="date" x-mojo-element="DatePicker"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title"><span class="translate">Time</span></div>
	<div class="palm-list">
		<div class="palm-row first last">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
				<div id="time" x-mojo-element="TimePicker"></div>
			</div>
		</div>

	</div>
</div>



<div id="save"	x-mojo-element="Button"></div>
<div id="close"	x-mojo-element="Button"></div>

